<h1>Gossips#each_gossip</h1>
<p>Find me in app/views/gossips/each_gossip.html.erb</p>
<p><%= @author.first_name %></p>
<%= link_to "clique ici", profile_path(@author.id) %>
<p><%= @gossip.title %></p>
<p><%= @gossip.content %></p>
<p><%= @gossip.created_at %></p>
